@import url("https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --azulclaro: #48d6ed;
  --azuloscuro: #337ab7;
  --azulnegro: #303342;
  --negro: #333333;
  --negro2: #000;
  --gris: #b2b3b3;
  --fondo: #fffefc;
  --verdeazul: #157a8a;
  --Magenta: #9c2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337ab7 2.89%, #0b3860 80.34%);
}

* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1,h2,h3,h4,h5{
  font-family: "Marcellus", serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--negro2);
  font-family: "Marcellus", serif;
  font-size: 1.3em;
  padding: 1rem;
}
.menu button {
    background-color: #0b3860;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: var(--blanco);
  }
.menu-hr{
  display: none;
}
.item {
  padding: 1rem;
}

nav a {
  color: var(--blanco);
  text-decoration: none;
}
.logo i {
  display: none;
}
  .navbar-button{
    background-color:transparent;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    padding: 0.5rem;
    font-family: 'Marcellus', serif;
    color: var(--blanco);
}

  article{
    width: 100%;
    position: relative;
    overflow: hidden;
}
  .imagen1{
    width: 100%;
    display: inline-block;
    margin: 0px auto;
    padding: 0px;
    height: 50%;
} 
.texto{
    margin: 5px;
    display: block;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    background: rgba(0,0,0,0.3);
    width: 100%;
    padding: 3.1em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


#features{
    background: url(../img/index/bg-features.png);
    color: white;
    padding-top: 1rem;
}
 
.features-title{
    background-color: rgba(0,0,0,0.35);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5em;
}
.features-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.feature{
    width: 25%;
    min-width: 180px;
    max-width: 230px;
    margin: 0.8rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
 
.feature i{
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}

.feature-blue{
    background-color: #00325eae;
}
 
.feature-black{
    background-color: rgba(0,0,0,0.59);
}

.ubicacion {
  width: 100%;
  text-align: center;
  object-fit: contain;
}

.ubicacion h1 {
  text-align: center;
  padding: 0.5rem;
  font-size: 3em;
}
.dirreccion {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid var(--negro);
}
.usuarios {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background-color: #121212;
}
.caja {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.titulo {
  text-align: center;
  color: var(--blanco);
  margin: 30px 0;
}
.opinionimg{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.union{
    width: 30%;
    float: left;
    margin:2%;
    
}
.lo{
    display: flex;
    width: 50%;
    height: 52%;
    float: left;
    margin:2%;
    align-items: center;
}

.usuarios{  
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
   
}
.cajas{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -2%;
    
}
.caja{
    background-image: url(../img/caja.png);
    width: 46%;
    height: 40%;
    min-width: 250px;
    max-width: 280px;
    margin-top: -90px;
    margin-bottom: 4%;
    padding: 1rem;
    border-radius: 2px;
    color: white;
}
.pie_pagina{
    width: 100%;
    background-color: #000;
    
}
.pie_pagina i{
  color: #fff;
  display: inline-block;
}
ul li{
    list-style: none inside;
}
/*se supone que es el del computador*/
@media screen and (min-width:768px) {

  .logo img{
    width: 60%;
    height: 70;
  }
  .pie_pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10%;
    padding: 4% 4%;
    color: white;
    justify-content: space-around;
    }
    .articulo {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 20px 0;
      overflow-x: hidden;
    }
    
    
    .parrafo{
        display: flex;
        position: relative;
        width: 50%;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        float: left;
        font-size: 1.4em;
    }
    .imagen2{
      width: 75%;
      height: 70%;
    }
      hr{
        display: none;
      }
}

/*se supone que es el del celular*/
@media (max-width: 768px) {
  .logo{
    width: 90%;
    background-color: black;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    
}
  .articulo {
    height: auto;
    padding: 30px;
    width: 100%;
    font-size: 1.2em;

  }
  .logo img {
    width: 40%;
    height: 80%;
  
  }
  .logo i {
    display: flex;
    align-self: flex-end;
    color: #fff;
    font-size: 2em;
    margin: 0px 0px;
 
  }
  nav {
    width: 100%;
    flex-direction: column;
    padding: 0;
    align-items: flex-start ;
  }
  .menu {
    width: 100%;
    margin: 0;
    transition: all 0.5s;
    transform: scale(0);
    display: none;
    z-index: 3;
  }
  .show-menu {
    transform: scale(1);
    display: flex;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0b3860;
  }
  .menu-hr {
    width: 90%;
    background-color: white;
    justify-self: center; /*para centrar el hr*/
}
 
  .parrafo {
    width: 85%;
}
.imagen2{
display:none;

}

  .usuarios {
    height: auto;
  }
  
  .title-starred {
    text-align: center;
    color: var(--blanco);
    margin: 30px 0;
  }
  
  
  .caja {
    margin: 10px;
  }
  
  .caja p {
    font-size: 14px;
    margin: 15px;
  }
  footer div {
    margin: 10px;
  }
  .pie_pagina {
    width: 100%;
    height: auto;
    min-height: 30vh;
    text-align: left;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-wrap: wrap;
  }  
  /*carrousel*/
.carrusel{
       
  width: 100%;
  
        }
        .carrusel .cajas{
       width: 300%;
       margin-top: -19%;
       display: flex;
       flex-flow: row nowrap;
       justify-content: space-around;
       align-items: center;
       transition:  all .5s case;
       transform:  translateX(-100%);
        }
        .carrusel .caja{
          width: calc( 70% / 3 - 3em);
          height: 20%;
          color: white;
          transition: all 0.4s ease;
          border-radius: 1px;
          background: linear-gradient(94.54deg, #2875b9 2.89%, #0d3f6c 80.34%);
         padding: 2%;
         font-family: sans-serif;
        }
  .carrusel .puntos{ 
  width: 100%;
  padding: 2em;
  display: grid;
  grid-template-columns: 15% 15% 15%;
  grid-template-rows: 10%;
  align-items: center;
  justify-content: center;
  
  }
  .carrusel .punto{
  width: 3em;
  height: 0.5em;
  background-color: rgb(55, 56, 56);
  margin: 1em;
  }
  .carrusel .punto.activo{
      background-color: rgb(27, 27, 27);
  }
 
 

}