* {
    margin: 0;
  }

body{
    background-image: url(https://cf.bstatic.com/xdata/images/hotel/max1024x768/121567187.jpg?k=19a650a0ed9b907f505629fd22347c07531e0470d393e804533b9da893be7778&o=&hp=1);
    background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
font-family: 'Roboto', sans-serif;

    
}

.logo{
   
    max-width: 120px;
    max-height: 80px;

}
.avatar{
    height: 20%;
    width: 20%;
    border-radius: 100%;

}
.form-login{

    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenedor{
    margin: 10% 35%;
    padding: 2%;
    color: white;
    background-image: url(../img/fondocaja.png);
    opacity: 80%;
    border-radius: 1%;
}
.cajitas{
    width: 80%;
    border: 1px solid #000;
    margin-bottom: 15px;
    padding: 8px 7px;
    text-align: center;

}
label{
    color: white;
    margin: 2%;
}
.button{
    width: 85%;
    height: 40px;
    background-color: #000;
    color: white;
    border: none;
    
    
}
p{
    color: white;
}
.ingresar{
    text-decoration: none;
        color: #fff;
        background-color: #000;
        padding: 0.8em 3em;
        border-radius: 6px;
        display: inline-block;
        font-weight: 250;
    text-align: center;}

    .registrate{
        color: #000;
        text-decoration: none;
    }

@media only screen and (max-width: 768px) {
    .contenedor{
        width: 60%;
        margin: 16% 22%;
        background-image: url(../img/fondocaja2.png);
        

    }
}